#darken {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

#map-loading {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: 30px;
  height: 100px;
  width: 100px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.hintDialog-container div div {
  background-color: #3b3b3b;
  font-family: "Poppins";
  width: 18rem;
  color: white;
  border-radius: 1rem;
  overflow: visible;
  outline: none;
}

#hintDialog-icon {
  position: absolute;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -3rem;
  left: 6rem;
  font-size: 4rem;
  border-radius: 50%;
  background-color: var(--map-bg);
}

#alert-hintDialog-title h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  line-height: 110%;
  margin-top: 3rem;
  padding: 0 0.5rem;
}

#hintDialog-text {
    text-align: center;
    color: var(--map-bg);
    font-size: 1.5rem;
}

#hintDialog-buttons {
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

#hintDialog-buttons button {
  background-color: white;
  color: black;
  font-size: 1.2rem;
  width: 5rem;
  border-radius: 1.5rem;
  filter: drop-shadow(0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.48));
  font-weight: 600;
}

.answer-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#answer-alert {
  background-color: #3b3b3b;
  font-family: "Poppins";
  width: 18rem;
  color: white;
  border-radius: 1rem;
  overflow: visible;
  position: relative;
  height:10rem;
}

#alert-icon {
  position: absolute;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -3rem;
  left: 6rem;
  font-size: 3rem;
  border-radius: 50%;
  background-color: var(--map-bg);
}

#alert-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  line-height: 110%;
  margin-top: 4rem;
  padding: 0 0.5rem;
}

#alert-message{
    text-align: center;
    color: var(--map-bg);
    font-size: 1.5rem;
    font-weight: bold;
    margin-top:0.5rem;
}

.Toastify__toast {
  background-color: #3B3B3B;
}

/* .past-color{
  background-color:var(--past)
}
.present-color{
  background-color:var(--present)
}
.future-color{
  background-color:var(--future)
}

.pre-pa{
  background: linear-gradient(135deg, var(--present) 0%, var(--present) 49%, var(--past) 51% var(--past) 100%);
}
.pa-pre{
  background: linear-gradient(135deg, var(--past) 0%, var(--past) 49%, var(--present) 51%, var(--present) 100%);
}
.pa-fu{
  background: linear-gradient(135deg, var(--past) 0%, var(--past) 49%, var(--future) 51% var(--future) 100%);
}
.fu-pa{
  background: linear-gradient(135deg, var(--future) 0%, var(--future) 49%, var(--past) 51%, var(--past) 100%);
}
.fu-pre{
  background: linear-gradient(135deg, var(--future) 0%, var(--future) 49%, var(--present) 51% var(--present) 100%);
}
.pre-fu{
  background: linear-gradient(135deg, var(--present) 0%, var(--present) 49%, var(--future) 51%, var(--future) 100%);
} */