*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --past: #D8E424;
  --present: #15BCFF;
  --future: #FA2E68;
  --leaderboard-bg: var(--future);
  --guide-bg: var(--present);
  --map-bg: var(--past);
  --navbar-bg: var(--map-bg);
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px rgb(0, 0, 0);  */
  /* border-radius: 10px; */
  background: black;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  /* border-radius: 10px; */
}

::-webkit-scrollbar-track-piece:start {
  background: white;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
  scroll-behavior: smooth;
}