@font-face {
    font-family: "Brice-Bold";
    src: url("./assets/Brice-Bold.otf");
}

.dates {
    font-family: 'Brice-Bold';
    color: #DBF429;
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
}

.superscript {
    font-family: 'Brice-Bold';
    color: #DBF429;
}

@media screen and (max-width: 650px) {
    .dates {
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .dates {
        font-size: 0.8rem;
    }
}