.map-section {
  position: relative;
  height: calc(100vh - 80px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#map-loading {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: 30px;
  height: 100px;
  width: 100px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.MuiCircularProgress-root {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

.map-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #151515;
  background-image: url("../../../assets/topography.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  user-select: none;
  margin: 0;
}

#darken {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.map {
  position: relative;
  display: inline-block;
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  transition: zoom 0.2s linear;
}

.map-background {
  width: 800px;
  position: absolute;
  top: 100px;
  left: 100px;
  pointer-events: none;
}

.node {
  color: transparent;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  background-color: #707070;
  border: 4px solid black;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.bridge {
  width: 23px;
  height: 23px;
}

.deck {
  color: transparent;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-color: #707070;
  border: 4px solid white;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.portal-box {
  color: red;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  position: absolute;
  cursor: pointer;
}

#node1 {
  top: 362px;
  left: 304px;
}

#node2 {
  top: 427px;
  left: 304px;
}

#node3 {
  top: 460px;
  left: 360.5px;
}

#node4 {
  top: 524px;
  left: 362px;
}

#node5 {
  top: 329px;
  left: 360px;
}

#node6 {
  top: 263px;
  left: 360px;
}

#node7 {
  top: 228px;
  left: 417px;
}

#node8 {
  top: 361px;
  left: 417px;
}

#node9 {
  top: 427px;
  left: 418px;
}

#node10 {
  top: 460px;
  left: 475px;
}
#node11 {
  top: 524px;
  left: 475px;
}

#node12 {
  top: 557px;
  left: 418px;
}

#node13 {
  top: 622px;
  left: 418px;
}

#node14 {
  top: 656px;
  left: 475px;
}

#node15 {
  top: 622px;
  left: 532px;
}

#node16 {
  top: 556px;
  left: 532px;
}

#node17 {
  top: 657px;
  left: 589px;
}

#node18 {
  top: 622px;
  left: 644px;
}

#node19 {
  top: 557px;
  left: 644px;
}

#node20 {
  top: 523px;
  left: 589px;
}

#node21 {
  top: 460px;
  left: 588px;
}

#node22 {
  top: 524px;
  left: 701px;
}

#node23 {
  top: 460px;
  left: 701px;
}

#node24 {
  top: 427px;
  left: 644px;
}

#node25 {
  top: 362px;
  left: 643px;
}

#node26 {
  top: 329px;
  left: 701px;
}

#node27 {
  top: 362px;
  left: 758px;
}

#node28 {
  top: 427px;
  left: 758px;
}

#node29 {
  top: 263px;
  left: 701px;
}

#node30 {
  top: 228px;
  left: 643px;
}

#node31 {
  top: 263px;
  left: 589px;
}

#node32 {
  top: 330px;
  left: 589px;
}

#node33 {
  top: 362px;
  left: 532px;
}

#node34 {
  top: 228px;
  left: 528px;
}

#node35 {
  top: 329px;
  left: 475px;
}

#node36 {
  top: 263px;
  left: 475px;
}

#node37 {
  top: 269px;
  left: 165px;
}

#node38 {
  top: 155px;
  left: 788px;
}

#node39 {
  top: 795px;
  left: 574px;
}

#portal-box9 {
  top: 414px;
  left: 443px;
}

#portal-box20 {
  top: 511px;
  left: 566px;
}

#portal-box32 {
  top: 362px;
  left: 589px;
}

.portal-box {
  background-image: url("../../../assets/portal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* animation: rotate 4s linear infinite; */
}

/* @keyframes rotate {
  100% {
      transform: rotate(1turn);
  }
} */

.locked {
  background-color: white;
}

.locked::after {
  content: "";
  width: 175%;
  height: 175%;
  position: absolute;
  border: 2px dashed white;
  border-radius: 50%;
  top: -50%;
  left: -50%;
  animation: rotate 20s linear infinite;
}

#locked-peg {
  position: absolute;
  width: 30px;
  height: 30px;
}

.unlocked {
  background-color: white;
}

.unlocked::after {
  content: "";
  width: 175%;
  height: 175%;
  position: absolute;
  border: 2px dashed white;
  border-radius: 50%;
  top: -50%;
  left: -50%;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.display-none::after {
  display: none;
}

.solved {
  opacity: 0;
}

/* width */
.map-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.map-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.map-container::-webkit-scrollbar-thumb {
  background: white;
}

.map-container::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

/* Toast Styles */

.Toastify__toast {
  background-color: rgba(0, 0, 0, 1);
}

.Toastify__progress-bar {
  background-color: var(--map-bg);
}

/* Dialogue Box */

.dialog-container div div {
  background-color: #3B3B3B;
  font-family: "Poppins";
  width: 18rem;
  border-radius: 1rem;
  overflow: visible;
}

#dialog-icon {
  position: absolute;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -3rem;
  left: 6rem;
  font-size: 3rem;
  border-radius: 50%;
  background-color: var(--map-bg);
}

#alert-dialog-title h2 {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  line-height: 110%;
  margin-top: 3rem;
  color: white;
}

#dialog-buttons {
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

#dialog-buttons button {
  background-color: white;
  color: black;
  font-size: 0.9rem;
  width: 4rem;
  border-radius: 1.5rem;
  filter: drop-shadow(0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.48));
  font-weight: 600;
}

/* Map zoom icons */

.zoom-buttons {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease-in-out;
}

.zoom-buttons div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: var(--map-bg);
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
  margin: 0.3rem;
}

.zoom-buttons div:hover {
  transition: all 0.25s ease-in-out;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0.1rem;
  font-size: 1.2rem;
}

/* Legend box */

.key-button {
  background-color: var(--map-bg);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2rem;
  right: 2rem;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.legend-box {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  row-gap: 0.7rem;
  align-items: center;
  padding: 2rem 0.5rem;
  border: 3.5px solid var(--map-bg);
  border-radius: 10px;
  color: white;
  background-color: black;
  font-family: "Poppins";
  font-weight: 550;
  user-select: none;
}

.legend-box img {
  justify-self: center;
  width: 60%;
}

.legend-box .solvedNode {
  width: 80%;
}

.legend-box p {
  font-size: 0.9rem;
}

/* Onboarding button */

.tutorial-button {
  background-color: var(--map-bg);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2rem;
  left: 2rem;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Back button */

.back-button {
  background-color: var(--map-bg);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2rem;
  left: 2rem;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.react-joyride-step-0 > .react-joyride__spotlight {
  transform: translateY(-30px);
}

.__floater__arrow span svg polygon {
  fill: #3b3b3b;
}

.react-joyride__overlay {
  margin-top: 80px;
  height: calc(100vh - 80px) !important;
}

.react-joyride__tooltip button svg g path {
  fill: white;
}

@media screen and (max-width: 450px) {
  .key-button {
    bottom: 1rem;
    right: 1rem;
  }

  .legend-box {
    bottom: 2rem;
    right: 2rem;
  }

  .tutorial-button {
    bottom: 1rem;
    left: 1rem;
  }

  .zoom-buttons {
    top: 1rem;
    right: 1rem;
  }
}
