:root {
  --node-side: 25px;
}

.map-section {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.map-container {
  position: relative;
  height: 85vh;
  width: 90vw;
  margin-bottom: 1vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  overflow: scroll;
  background-color: #a0a0a0;
  user-select: none;
  border: 2px solid black;
}

.map {
  position: relative;
  display: inline-block;
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.map-background {
  width: 800px;
  position: absolute;
  top: 100px;
  left: 100px;
  pointer-events: none;
}

.node {
  color: red;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  width: var(--node-side);
  height: var(--node-side);
  background-color: rgb(0, 0, 0);
  border: 4px solid black;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

#node5 {
  top: 293px;
  left: 308px;
}

#node1 {
  top: 335px;
  left: 233px;
}

#node2 {
  top: 425px;
  left: 233px;
}

#node3 {
  top: 468px;
  left: 306px;
}

#node4 {
  top: 557px;
  left: 306px;
}
#node12 {
  top: 600px;
  left: 382px;
}
#node13 {
  top: 680px;
  left: 382px;
}
#node14 {
  top: 722px;
  left: 460px;
}
#node15 {
  top: 680px;
  left: 535px;
}
#node17 {
  top: 722px;
  left: 611px;
}
#node18 {
  top: 680px;
  left: 688px;
}
#node19 {
  top: 590px;
  left: 688px;
}
#node22 {
  top: 543px;
  left: 762px;
}
#node23 {
  top: 460px;
  left: 762px;
}
#node28 {
  top: 413px;
  left: 838px;
}
#node27 {
  top: 327px;
  left: 838px;
}
#node26 {
  top: 285px;
  left: 762px;
}
#node29 {
  top: 200px;
  left: 762px;
}
#node30 {
  top: 155px;
  left: 685px;
}
#node31 {
  top: 195px;
  left: 611px;
}
#node34 {
  top: 155px;
  left: 533px;
}
#node36 {
  top: 200px;
  left: 460px;
}
#node7 {
  top: 160px;
  left: 382px;
}
#node6 {
  top: 202px;
  left: 307px;
}
#node8 {
  top: 332px;
  left: 386px;
}
#node9 {
  top: 425px;
  left: 386px;
}
#node10 {
  top: 468px;
  left: 460px;
}
#node11 {
  top: 552px;
  left: 460px;
}
#node16 {
  top: 587px;
  left: 535px;
}
#node20 {
  top: 545px;
  left: 610px;
}
#node21 {
  top: 460px;
  left: 610px;
}
#node24 {
  top: 415px;
  left: 687px;
}
#node25 {
  top: 331px;
  left: 687px;
}
#node32 {
  top: 290px;
  left: 610px;
}
#node33 {
  top: 328px;
  left: 536px;
}
#node35 {
  top: 290px;
  left: 460px;
}

.portal {
  background-image: url("../../../assets/portal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.locked {
  background-color: #7a7a7a;
}

.locked::before {
  content: "?";
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: -30px;
}

.unlocked {
  background-color: white;
}

.solved {
  background-color: #d8e324;
}

.deck {
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: 4px solid black;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.deck::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 4px solid black;
  border-radius: 50%;
}

#node37 {
  top: 216px;
  left: 66px;
}

#node38 {
  top: 69px;
  left: 890px;
}

#node39 {
  top: 880px;
  left: 623px;
}

/* width */
.map-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.map-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.map-container::-webkit-scrollbar-thumb {
  background: white;
}

.map-container::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

.Toastify__toast-container {
  
}

.Toastify__toast {
  background-color: rgba(0, 0, 0, 1);
}

.Toastify__progress-bar {
  background-color: #DBF429;
}