@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@font-face {
  font-family: "Brice-Bold";
  src: url("./assets/Brice-Bold.otf");
}

.timer-bg {
  /* The image used */
  background-image: url("./assets/background.png");

  /* Full height */
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.screensaver {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-animation: screensaver 5s linear infinite alternate;
  animation: screensaver 5s linear infinite alternate;
}

.screensaver-logo {
  width: fit-content;
  color: #fe3176;
  font-family: "Brice-Bold";
  font-size: 3.5rem;
  font-weight: 500;
  -webkit-animation: screensaver-logo 4s linear infinite alternate;
  animation: screensaver-logo 4s linear infinite alternate, color_change 5s linear infinite alternate;
}

@-webkit-keyframes screensaver {
  100% {
    transform: translateX(calc(100vw - 200px));
  }
}

@keyframes screensaver {
  100% {
    transform: translateX(calc(100vw - 200px));
  }
}

@-webkit-keyframes screensaver-logo {
  100% {
    transform: translateY(calc(100vh));
  }
}

@keyframes screensaver-logo {
  100% {
    transform: translateY(calc(100vh));
  }
}

@keyframes color_change {
  0% {
    color: #1C1CD2;
  }
  50% {
    color: #DBF429;
  }
  100% {
    color: #FE3176;
  }
}

.HomeBtnWrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
}

.reg_button {
  border-radius: 30px;
  white-space: nowrap;
  padding: 15px 25px;
  color: #000000;
  font-size: 16px;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 6px solid rgba(254, 49, 118, 1);
  background: rgba(219, 244, 41, 1);
  display: inline-block;
  position: relative;
}

.reg_button:hover {
  top: 4px;
  border-bottom: 4px solid rgba(254, 49, 118, 1);
}

.reg_button:active {
  top: 6px;
  border: none;
}

#days {
  background-color: url("./assets/Rectangle\ 67.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.timer-card {
  width: 10rem;
  height: 13rem;
  padding: 1rem;
  border-radius: 5px;
  margin: 0.5rem;
  /* position: relative; */
  background-color: rgba(219, 244, 41, 1);
  z-index: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: Brice;
  src: url(./assets/Brice-Regular.otf) format("truetype");
}

.timer-card h1 {
  font-family: "Brice", sans-serif;
  font-size: 5rem;
  color: rgba(254, 49, 118, 1);
  font-weight: 900;
}

.timer-card h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.timers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#headline {
  font-family: "Poppins", sans-serif;
  color: rgba(229, 229, 229, 1);
  letter-spacing: 1%;
  text-align: center;
}

.count {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.timer {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 50%;
  }

  .timer {
    height: 30%;
    width: auto;
    font-size: 20%;
  }

  .timers {
    flex-direction: column;
  }

  .timer-card {
    width: 14rem;
    height: 7rem;
    flex-direction: row;
  }

  .timer-card h1 {
    margin-right: 1rem;
  }
}
