@font-face {
  font-family: "Brice-Bold";
  src: url("./assets/Brice-Bold.otf");
}

.home-bg {
  /* The image used */
  /* background-image: url("./assets/background.png"); */
  background-color: #dbf429;

  /* Full height */
  height: calc(100vh - 80px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* .bnw{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .bnwbg{
  width: 85%;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left:8%;
  position:absolute;
  z-index: 1;
  margin-top: 8%;
} */

.track {
  position: absolute;
  top: 5%;
  left: 20%;
  z-index: 3;
  height: 10rem;
  filter: drop-shadow(-20px 20px 10px rgba(0, 0, 0, 0.25));
}

.title {
  position: absolute;
  top: 5%;
  right: 20%;
  z-index: 3;
  height: 20%;
  font-family: "Brice-Bold";
  font-size: 5rem;
}

.discs {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #dbf429;
  /* background-image: url("./assets/tracks-bg.svg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.disc {
  width: 30%;
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.5));
}

/* .disc1{
  margin-top: 8%;
  margin-left: 3%;
  align-content: center;
  justify-content: center;
  width: 38%;
  height: auto;
  z-index: 2;
  position: relative;  
} */
/* .rotate:hover {
	transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform-origin: center;
	-moz-transform-origin: center;
	-webkit-transform-origin: center;
	transition:  2s ease all;
	-moz-transition: 2s ease all;
	-webkit-transition:  2s ease all;
} */

.rotating.Y {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform-origin: center;
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
  transition: 2s ease;
  -moz-transition: 2s ease;
  -webkit-transition: 2s ease;
}

/* .rotateX:hover {
	transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	transform-origin: center;
	-moz-transform-origin: center;
	-webkit-transform-origin: center;
	transition: 2.0s ease;
	-moz-transition: 2.0s ease;
	-webkit-transition: 2.0s ease;
} */

/* .disc3{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 28%;
  height: auto;
  z-index: 2;
  position: relative;
} */

/* @media screen and (min-width: 40em) {
  .discs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .disc {
      flex: 0 1 calc(25% - 1em);
  }
} */

@media screen and (max-width: 1300px) {
  .title {
    font-size: 4.5rem;
  }

  .track {
    height: 10rem;
  }
}

@media screen and (max-width: 1100px) {
  .title {
    font-size: 4rem;
  }

  .track {
    height: 8rem;
  }

  .home-bg {
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .discs {
    width: 80%;
  }

  .track {
    left: 10%;
  }

  .title {
    right: 10%;
  }
}

@media screen and (max-width: 650px) {
  .home-bg {
    align-items: flex-end;
  }

  .disc {
    height: 30%;
    width: auto;
  }

  .discs {
    flex-direction: column;
    height: 80%;
  }

  .track {
    width: 45%;
    top: 2%;
    left: 2%;
  }

  .title {
    width: 50%;
    text-align: right;
    top: 4%;
    right: 5%;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 2rem;
    top: 5%;
  }
}

@media screen and (max-width: 350px) {
  .title {
    top: 6%;
    font-size: 1.5rem;
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 7s linear infinite;
  -moz-animation: rotating 7s linear infinite;
  -ms-animation: rotating 7s linear infinite;
  -o-animation: rotating 7s linear infinite;
  animation: rotating 5s linear infinite;
}
